# env configuration
name: DHTDigger
author: whywhy36
version: 1

# Postgres
postgres:
  host: 192.168.1.101
  port: 5432
  username: postgres
  password:
  database: torrents_new_copy_test

# Redis
redis:
  host: 192.168.1.111
  port: 6379
  db: 11
  message_queue: list_name
  metadata: metadata
  infohash_set: info_hash_set


# Logging
logging:
  level: info
  output: /tmp/dht_logs/


# Components

# Wiretap configuraiton is an array, for 'host', all IP(s) should be belong to one host for this version
wiretap:
  - name: wiretap_1
    host: 0.0.0.0
    port: 6881
  - name: wiretap_2
    host: 0.0.0.0
    port: 6981
  - name: wiretap_3
    host: 0.0.0.0
    port: 7081

wiretap_options:
  max_kadnodes: 200000
  infohash_set_max: 1000000

torrent_processor:
  number: 1
  name_prefix: torrent_processor

db_ops:
  name: db_ops

dht_hosts:
  - ip: router.bittorrent.com
    port: 6881
  - ip: dht.transmissionbt.com
    port: 6881
  - ip: router.utorrent.com
    port: 6881

